.room-card{
    border:1px solid rgb(23, 168, 168);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(75, 75, 76, 0.5);
    border-radius: 10px;
    
}

.room-card .room-title{
    margin-bottom: 150px;
}

.room-card .room-button button{
    border-radius: 20px;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: rgb(23, 168, 168);
    color: white;
    border-style: none;
    font-size: 20px;
}

.homepage .rooms-container .rooms{
    text-align: center;
    margin-left: 170px;
}

.homepage .rooms{
    
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 310px 310px 310px;
}



